#notification_li{position:relative}
#notificationContainer {
    background-color: #fff;
    border: 0px solid rgba(100, 100, 100, .4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 47px;
    margin-left: -150px;
    width: 330px;
    z-index: 9999;
    display: none;
}
#notificationContainer:before {
    /*content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 170px;*/
}
#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    width: 328px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody {
    padding: 0px 0px 0px 0px !important;
    min-height:300px;
    height: 325px;
    overflow: auto;
}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}
.blockNoti{
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    margin: 2px 0px 2px;
    padding: 0px 5px;
}
.blockNoti:hover{
     background-color: #D0FDDD;
}
.blockNotiP{
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    margin: 2px 0px 2px;
    padding: 0px 5px;
}
.blockNotiP:hover{
     background-color: #FDD7D7;
}
.textoInfoWindow{
    float:right;
    font-size:12px;
}
 