
.red.accent-4 {
    background-color: #98BF0E !important;
}

/*Cambiar de color los input*/
/* label color */
.input-field label {
 	color: #8C8C8C;
}
			  
/* icon prefix focus color */
.input-field .prefix.active {
 	color: #2ab5c3;
}
/*************************** Campos de texto ***************************************/            
/* label focus color */
.input-field input[type=text]:focus + label {
 	color: #2ab5c3;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #2ab5c3;
	box-shadow: 0 1px 0 0 #2ab5c3;	
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #2ab5c3;
	box-shadow: 0 1px 0 0 #2ab5c3;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #f44336;
	box-shadow: 0 1px 0 0 #f44336;
}
/************************* Campos de texto password ******************************/
/* label focus color */
.input-field input[type=password]:focus + label {
	color: #2ab5c3;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #2ab5c3;
	box-shadow: 0 1px 0 0 #2ab5c3;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #2ab5c3;
	box-shadow: 0 1px 0 0 #2ab5c3;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #f44336;
	box-shadow: 0 1px 0 0 #f44336;
}
/**************************  Campos de texto email ******************************/
/* label focus color */
.input-field input[type=email]:focus + label {
	color: #2ab5c3;
}
/* label underline focus color */
.input-field input[type=email]:focus {
	border-bottom: 1px solid #2ab5c3;
	box-shadow: 0 1px 0 0 #2ab5c3;
}
/* valid color */
.input-field input[type=email].valid {
	border-bottom: 1px solid #2ab5c3;
	box-shadow: 0 1px 0 0 #2ab5c3;
}
/* invalid color */
.input-field input[type=email].invalid {
	border-bottom: 1px solid #f44336 ;
	box-shadow: 0 1px 0 0 #f44336 ;
}

/* Cambiar color de los navs */
.tabs .indicator {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: #1EA2AF;
	will-change: left, right;
}